.custom-padding{
  padding: 5%;
}

.custom-padtop{
  padding-top: 10%;
}

.custom-header{
  padding: 2rem 1rem;
}

.column{
  margin: 2px;
  padding: 5px;
  border: 2px solid rgb(95, 160, 140);
  width: 30%;
  height:fit-content;
  float: left;
  text-align: center
}

.column:hover{
  background-color:#d1e2ff;
}
